@use '../variables';
@use '../mixinfunc';

.FooterContainer {
  background: linear-gradient(to left, variables.$blanco, variables.$Gris);
  @include mixinfunc.flex-box(row);
  justify-content: space-around;
  align-items: center;
  button {
    background: linear-gradient(to left, rgba(39, 39, 175, 0.787), rgba(52, 169, 52, 0.849));
    font-size: 1.5em;
    border-radius: 0.3em;
    padding: 0.1em;
    cursor: pointer;
  }
  &__social {
    @include mixinfunc.flex-box(column);
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.1em;
    .img {
      margin: 0.1em;
      padding: 0.1em;
      font-size: 2.5em;
      @include mixinfunc.flex-box(space-around);
      justify-content: space-around;
      align-items: center;
      &__icons {
        &:hover {
          color: white;
        }
      }
    }
    .text {
      font-size: 1.5em;
      margin: 0.1em;
      padding: 0.1em;
    }
  }
}