@use '../variables';
@use '../mixinfunc';

.FooterContainer {
  background: linear-gradient(to left, variables.$blanco, variables.$Gris);
  @include mixinfunc.flex-box(row);
  padding: 1.5em 14.5em 0.8em;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  animation: footer 5s infinite alternate linear;
  button {
    background: linear-gradient(to left, rgba(39, 39, 175, 0.787), rgba(52, 169, 52, 0.849));
    font-size: 1.3em;
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0 -3.6em;
    cursor: pointer;
  }
  &__social {
    margin: 0.5em -8em 0.5em;
    text-align: center;
    font-size: 1.2em;
    .img {
      padding: 0.2em 0.1em 0.01em 0.1em;
      font-size: 2em;
      @include mixinfunc.flex-box(row);
      justify-content: space-around;
      &__icons {
        &:hover {
          color: white;
        }
      }
    }
  }
}

@keyframes footer {
  0% {
    // border: solid 4px black;
    // background: rgba(30, 42, 72, 0.75);/*//* OPACIDAD DEL FORMULARIO */
    background: linear-gradient(to right, variables.$Azul, variables.$blanco);
  }
  // 25% {
  //   // border: solid 4px purple;
  //   // background: rgba(91, 42, 100, 0.75);
  //   background: linear-gradient(to right, variables.$Azul, variables.$blanco);
  // }
  50% {
    // border: solid 4px red;
    // background: rgba(107, 43, 71, 0.75);
    background: linear-gradient(to right, variables.$Verde, variables.$blanco);
  }
  // 75% {
  //   // border: solid 4px yellow;
  //   // background: rgba(120, 120, 50, 0.75);
  //   background: linear-gradient(to right, variables.$Azul, variables.$blanco);
  // }
  100% {
    // border: solid 4px green;
    // background: rgba(57, 136, 69, 0.75);
    background: linear-gradient(to right, variables.$Gris, variables.$blanco);
  }
}

//* ---------- TABLET 551px - 534----------
@media (min-width: 534px) {
  .FooterContainer {
    flex-wrap: nowrap;
    padding: 0 16.5em;
    button {
      margin: 0 -4.5em;
      font-size: 0.9em;
    }
    &__social {
      margin: 0.5em 5.2em 1em;
      .img {
        margin: 0.1em 1.5em 0.3em;
      }
    }
  }
}

//* ---------- TABLET 768PX ----------
@media (min-width: 670px) {
  .FooterContainer {
    button {
      font-size: 1.3em;
    }
  }
}