@use '../variables';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
  // border: solid 1px red;
  padding: 0.5em 7.4em 0.5em 7.4em;
  background: linear-gradient(to right, variables.$Gris, variables.$blanco);
  &__project {
    // border: solid 1px red;
    margin: 0 0.5em;
    color: variables.$Azul;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__skills {
    // border: solid 1px red;
    margin: 0 0.5em;
    color: variables.$Verde;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__contact {
    // border: solid 1px red;
    margin: 0 0.5em;
    color: gray;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

//* ---------- TABLET 855PX ----------
@media (min-width: 855px) {
  .navbar {
    justify-content: center;
    // padding: 0.5em 7.4em 0.5em 7.4em;
    &__project {
      // border: solid 1px blue;
      margin: 0 0.5em;
    }
    &__skills {
      // border: solid 1px blue;
      margin: 0 0.5em;
    }
    &__contact {
      // border: solid 1px blue;
      margin: 0 0.5em;
    }
  }
}
