@use '../variables';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 30px;
  background-color: rgb(138, 43, 226);
  // gap: 1%;
  &__project {
    margin: 0.5rem;
    font-size: 1.3em;
    color: variables.$Azul;
    text-decoration: none;
    &:hover {
      // background-color: variables.$Azul;
      color: white;
    }
  }
  &__skills {
    margin: 0.5rem;
    font-size: 1.3em;
    color: variables.$Verde;
    text-decoration: none;
    &:hover {
      // background-color: variables.$Verde;
      color: white;
    }
  }
  &__contact {
    margin: 0.5rem;
    font-size: 1.3em;
    color: red;
    text-decoration: none;
    &:hover {
      // background-color: red;
      color: white;
    }
  }
}