@use '../variables';
@use '../mixinfunc';

$breakpoints: (
  sm : 320px,
  md: 768px,
  lg : 1024px
);

@mixin media_sm($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content
  }
}

.presentation {
  @include mixinfunc.flex-box(row);
  justify-content: center;
  background: linear-gradient(to left, variables.$Gris, variables.$blanco);
  padding: 5rem;
  &__images {
    @include mixinfunc.flex-box(column);
    align-self: center;
  }
  &__img {
    border-radius: 1rem;
    width: 30%;
    height: 10%;
    margin: 1rem;
    align-self: center;
    box-shadow: 0 0.5em 0.5em 0 rgba(90, 69, 90, 0.853);
  }
  &__description {
    @include mixinfunc.flex-box(column);
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 3rem;
      margin: 1rem;
    }
    h2 {
      font-size: 2.7rem;
      margin: 1rem;
    }
    p {
      font-size: 1.5em;
    }
  }
  &__name {
    color: blue;
  }
}
