.container {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

.div_img {
  background-color: yellow;
}

.img {
  border-radius: 1rem;
  width: 50%;
  height: 50%;
  margin: 1rem;
}

.div_description {
  background-color: greenyellow;
}

.name {
  color: green;
}

.description {
  background-color: violet;
  font-size: 1rem;
  padding: 0.5rem;
}