.flip {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__inner {
    position: relative;
    width: 50%;
    height: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    transition: all 750ms;
    transform-style: preserve-3d;//* Hace que los elementos HIJOS - front y back permanezcan en el espacio 3D
    &__front, &__back {
      position: absolute;//* Poner una tarjeta sobre otra
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      backface-visibility: hidden;//* Hace que la cara trasera este oculta
    }
    &__front {
      .img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: white;
      }
    }
    &__back {
      font-size: 0.9rem;
      text-align: center;
      display: grid;
      place-items: center;
      background-color: #66bbe8f2;
      transform: rotateY(180deg);
    }
    &:hover {
      transform: rotateY(-180deg);
    }
  }
}

//* ---------- TABLET 768PX ----------
@media (min-width: 768px) {
  .flip {
    width: 13rem;
    height: 13rem;
  }
}

//* ---------- LAPTOP 1024PX ----------
@media (min-width: 1024px) {
  .flip {
    width: 19.7rem;//* OCUPA TODO EL ANCHO DE CONTENEDOR
    height: 19.7rem;//* OCUPA TODO EL ALTO DEL CONTENEDOR
    // width: 15rem;//? ESTA VISTA SE PUEDE USAR COMO SEGUNDA OPCION
    // height: 15rem;//? ESTA VISTA SE PUEDE USAR COMO SEGUNDA OPCION
  }
}
//* ---------- LAPTOP 1440PX ----------
@media (min-width: 1440px) {
  .flip {
    width: 21.76rem;//* OCUPA TODO EL ANCHO DE CONTENEDOR
    height: 21.76rem;//* OCUPA TODO EL ALTO DEL CONTENEDOR
    // width: 17.3rem;//? ESTA VISTA SE PUEDE USAR COMO SEGUNDA OPCION
    // height: 17.3rem;//? ESTA VISTA SE PUEDE USAR COMO SEGUNDA OPCION
  }
}