//! https://www.youtube.com/watch?v=jfMHA8SqUL4 SCSS RESPONSIVE

/* --------- InfoProjects ---------- */
.InfoProjects {
  background-color: blue;
  margin: 0.1rem;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 790px;
  &__description {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* --------- ImgProjects ---------- */
//? IMAGEN RESPONSIVE
.projects_img {
  background-color: yellow;
  display: flex;
  justify-content: center;
  width: 50vw;//* View Width --> Da el 70% del ancho de la pantalla, sin importar la pantalla
  max-width: 1000px;//* Max tamañp de ancho
  min-width: 320px;//* Min tamaño de ancho
  margin: auto;
  img {
    border: solid 3px red;
    width: 50%;//* Este va a ser el 100% de los 75vw y estará entre "max-width" y "min-width"
    border-radius: 15px;
  }
}

//? IMAGEN RESPONSIVE
