//! https://www.youtube.com/watch?v=jfMHA8SqUL4 SCSS RESPONSIVE

/*//? --------- InfoProjects ---------- */
.InfoProjects {
  margin: 0.1em;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2em;
      margin: 0.5em;
    }
    p {
      display: flex;
      justify-content: center;
      align-self: center;
      font-size: 1.5em;
      margin: 0.5em;
    }
    button {
      background: linear-gradient(to left, rgba(39, 39, 175, 0.787), rgba(52, 169, 52, 0.849));
      font-size: 1.5em;
      border-radius: 0.3em;
      margin: 0.5em;
      padding: 0.1em;
      cursor: pointer;
      &:hover {
        background: linear-gradient(to right, rgba(39, 39, 175, 0.787), rgba(52, 169, 52, 0.849));
      }
    }
  }
}

/*//* --------- ImgProjects ---------- */
//? IMAGEN RESPONSIVE
.projects_img {
  // background-color: yellow;
  border: solid 3px red;
  display: flex;
  justify-content: center;
  width: 50vw;//* View Width --> Da el 70% del ancho de la pantalla, sin importar la pantalla
  // width: 100vw;//* View Width --> Da el 70% del ancho de la pantalla, sin importar la pantalla
  max-width: 1000px;//* Max tamañp de ancho
  min-width: 320px;//* Min tamaño de ancho
  // margin: 2.5em;
  margin: 0 5.5em;
  img {
    // width: 100%;//* Este va a ser el 100% de los 75vw y estará entre "max-width" y "min-width"
    width: 120%;//* Este va a ser el 100% de los 75vw y estará entre "max-width" y "min-width"
    border-radius: 0.5em;
    height: 25vh;
  }
}
