.projects {
  background-color: greenyellow;
  border: solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    background-color: white;
  }
  &__each {
    background-color: purple;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}