@use '../../variables';
@use '../../mixinfunc';

.projects {
  background: linear-gradient(to left, variables.$Gris, variables.$blanco);
  @include mixinfunc.flex-box(column);
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  h1 {
    font-size: 3em;
    margin: 0.5em;
    color: variables.$Azul;
  }
  &__each {
    @include mixinfunc.flex-box(row);
    flex-wrap: wrap;
    margin: 1.5em;
  }
}