@use '../../variables';
@use '../../mixinfunc';

.projects {
  background: linear-gradient(to left, variables.$Gris, variables.$blanco);
  @include mixinfunc.flex-box(column);
  justify-content: center;
  align-items: center;
  // padding: 1.5rem;
  // padding: 5em 14.5em;
  padding: 2em 14.5em 0.5em;
  // border: solid 1px red;
  h1 {
    font-size: 3em;
    margin: 0.5em;
    color: variables.$Azul;
  }
  &__each {
    @include mixinfunc.flex-box(row);
    flex-wrap: wrap;
    // margin: 1.5em;
    margin: 1em 0 1.5em;
    // padding: 0 -50em;
    // border: solid 1px gray;
    background: linear-gradient(to right, rgb(136, 223, 223), rgb(255, 254, 254));
    gap: 15px;
    text-align: center;
  }
}

//* ---------- TABLET 768PX ----------
@media (min-width: 500px) {
  .projects {
    // border: solid 1px blue;
    padding: 1.5em 14.5em 0.5em;
    &__each {
      // border: solid 1px blue;
      text-align: center;
      justify-content: center;
      border-radius: 1em;
      box-shadow: 0.5em 0.5em 0.5em 0 rgb(106, 176, 206);
    }
  }
}