* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './components/NavBar';
@import './components/Presentation';
@import './components/Skills/Skills';
@import './components/Skills/CardSkills';
@import './components/Projects/Projects';
@import './components/Projects/ImgProject';
@import './components/Footer';