.img {
  width: 200px;
  height: 200px;
  margin-top: 25px;
}

.flip_card {
  width: 250px;
  height: 250px;
  perspective: 2000px;
  margin: 15px 55px;
  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 750ms;
    transform-style: preserve-3d;//* Hace que los elementos HIJOS - front y back permanezcan en el espacio 3D
  }
  &_front, &_back {
    position: absolute;//* Poner una tarjeta sobre otra
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;//* Hace que la cara trasera este oculta
  }
  &_front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_back {
    font-size: 20px;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: #66bbe8f2;
    transform: rotateY(180deg);
  }
  &:hover .flip_card_inner {
    transform: rotateY(-180deg);
  }
}